body {
  background-color: #D7DBDD;
  text-align: center;
}

.center_header {
  font-size: 1.8em;
}

.about_center_header {
  font-size: 1em;
}

.seperator_horizontal {
  border-bottom-style: solid;
  border-color: #45B39D;
  margin: .5em;
}

.div_green {
  color: green;
}

.div_red {
  color: red;
}

.div_blue {
  color: blue;
}

.header_section {
  font-size: 1em;
  margin: .5em;
  height: 18px;
  border-bottom-style: solid;
  border-color: #45B39D;
}

.resume_contact {
  font-size: 1.3em;
}

.resume_paragraph {
  margin: .5em;
  font-size: 0.9em;
}

.resume_list {
  margin: .5em;
  font-size: 0.9em;
}

.section_center {
  text-align: center;
}
.resume_horizontal_list ul li {
  display: inline;
}
